
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background: linear-gradient(180deg, #007BFF, #0056b3);
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
overflow-y: auto;
    transition: width 0.3s ease;
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 1px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.1em;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.content {
    margin-left: 250px;
    padding: 150px;
    flex-grow: 1;
    background-color: white;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

